  body {
      position: relative; 
  }

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  font-size: 1.4em;
}

header {

	color: white;

	background-color: rgb(160,160,160);
}
#welcome-text{
	margin : 20px auto;
	margin-bottom: -90px;
}

.face-pic {
	max-width: 170px;
	min-width: 100px;
	border : 5px white solid;

	position: relative;

	top : 20px;
}

#main-wrapper{
	max-width: 1200px;
	margin : 50px auto;
}

/* ABOUT */

#About {
	margin : 50px auto;
}

hr {
	color: black;
	border-top: 4px solid #eee;
	width: 80%;
}

#About-Me, #Education {
	align-content: center;
}

#Presentation {
	font-size: 1.2em;
	
}

#Education {

}



.usto-img{
	width: 30%;
	align-self: center;
	margin : auto;
}

/* END OF ABOUT */

/* WORK */

#Work {

}

.work-panel {
	margin: auto;
}

.project-div {
	margin: 20px auto;
}

/* END OF WORK */

/* SKILLS */

#Skills{
	margin: 50px auto;
}

.skill-div {
	margin: 30px auto;
	height: 100%;
}

#Skills ul{
	list-style-type: none;
}

#Skills a{
	text-decoration: none;
}

#Skills img{
	margin: 30px auto;
	width: 50%;
}

#Skills img:hover{
	margin: 20px auto;
	width: 55%;
}

#Skills h4 { /*Skill names*/
	font-size: 2em;
}


/* Footer */

footer 
{
	background-color: #eee;
}