body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.2em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

hr {
	color: black;
	border-top: 4px solid #eee;
	width: 80%;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, .5);
}