.header {
	@extend .jumbotron;

	text-align: center;
}

.welcome-text {
	margin : 20px auto;
	
	font-size: 1.6em;
	text-align: center;
}

.btn-resume {
	@extend .btn-default;
	@extend .btn-lg;
	display: block;
	margin: auto;

	font-size: 1.3em;
}

.face-img {
	@extend .img-circle;

	position: relative;
	margin: auto;
	top: 100px;
	

	max-width: 170px;
	min-width: 100px;

	border : 5px white solid;
}