.work {
	transition: all 0.5s;
}

.work-content {
	@extend .tab-content;
}

.work-tab {
	@extend .row;

	@extend .tab-pane;
	@extend .fade;
	
	&.active {
		@extend .fade;
		@extend .in;
		@extend .active;
	}

	margin: auto;
}


.project-thumb {
	@extend .col-sm-3;
	@extend .col-xs-5;

	@extend .thumbnail;

	margin: 20px auto;
	box-shadow: 1px 1px 2px lightgray;

	img {}
	.caption {}
}

.project-sep {
	@extend .col-sm-1;
}